page-details-clokinout {
        ion-input.placeholder{
        font-style:italic
    }

ion-row {
  //border: 20px;
  border-width: 0px;
  border-style: solid;
}

ion-col {
  //border: 20px;
  border-width: 0px;
  border-style: solid;
  text-align: center;
}
}
