page-payslip {

        ion-item{
            border-bottom-width: 1px;
            // height: 10px;
        }
        .foot{
            height:50px;
            //position:fixed;
            left:0px;
            bottom:0px;
            text-align:center;
            width:100%;
            z-index: 99;
            color: #fff;
            text-decoration: underline;        
        }   

        .item-ios ion-avatar ion-img, .item-ios ion-avatar img {
            border-radius: 50%;
            overflow: hidden;
            width: 100px;
            height: 100px;
        }
        .item-md ion-avatar ion-img, .item-md ion-avatar img {
            border-radius: 50%;
            overflow: hidden;
            width: 100px;
            height: 100px;
        }

        .toolbar-md {
            padding: 0px; 
            min-height: 56px;
        }
}
