page-liststatus {
    .toolbar-title-ios {
        text-align: center;
        font-size: 1.7rem;
        font-weight: 600;
        color: #fff;
        pointer-events: auto;
        
    }
    .item-ios {
        padding-left: 0px;
    }
    .input-wrapper {
        padding-left: 16px;
    }

    .bar-button-default-ios, .bar-button-default.bar-button-ios-default, .bar-button-clear-ios-default {
        color: #ffffff !important;
        background-color: transparent;
    }

    .hide{
        display: none;
    }

    ion-spinner * {
        width: 50px;
        height: 50px;
        stroke: #444;
        fill: #FF0000;        
    }
}
