<ion-header>

  <ion-navbar>
    <ion-buttons left>
      <button ion-button (click)="closemodal()">
        <ion-icon name="md-arrow-round-back" style="color: #ffffff;"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title style="text-align: center;">รายการคำขอ</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <p style="color:#d75a4a;margin-bottom: 10px;margin-top: 10px; margin-left: 16px;font-size: 10px;">
    * ข้อมูลย้อนหลังไม่เกิน 1 เดือน
  </p>
  <ion-list-header style="background-color: #f0eff5;">
    รายการที่รออนุมัติ
  </ion-list-header>

  <div *ngFor="let data of datas" (click)="clickItem(data)">
    <ion-item *ngIf="data.ta_stat == 'W'">
      <ion-row>
        <ion-col col-3>
          <ion-icon name="md-alarm" style="font-size: 50px;color: #48adff;"></ion-icon>
        </ion-col>
        <ion-col>
          <ion-row>
            <ion-col>
              <h6>วันเริ่มต้น {{data?.ta_startdate}}</h6>
            </ion-col>
            <ion-col>
              <h6>วันสิ้นสุด {{data?.ta_enddate}}</h6>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <h6>{{data?.ta_type}}</h6>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-item>
  </div>

  <ion-list-header style="background-color: #f0eff5;">
    รายการที่อนุมัติแล้ว
  </ion-list-header>
  <div *ngFor="let data of datas" (click)="clickItem(data)">
    <ion-item *ngIf="data.ta_stat == 'A'">
      <ion-row>
        <ion-col col-3>
          <ion-icon name="md-checkmark-circle" style="font-size: 50px;color: #0b9408;"></ion-icon>
        </ion-col>
        <ion-col>
          <ion-row>
            <ion-col>
              <h6>วันเริ่มต้น {{data?.ta_startdate}}</h6>
            </ion-col>
            <ion-col>
              <h6>วันสิ้นสุด {{data?.ta_startdate}}</h6>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <h6>{{data?.ta_type}}</h6>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-item>
  </div>

  <ion-list-header style="background-color: #f0eff5;">
    รายการที่ถูกปฏิเสท
  </ion-list-header>
  <div *ngFor="let data of datas" (click)="clickItem(data)">
    <ion-item *ngIf="data.ta_stat == 'R'">
      <ion-row>
        <ion-col col-3>
          <ion-icon name="md-close-circle" style="font-size: 50px;color: #d75a4a;"></ion-icon>
        </ion-col>
        <ion-col>
          <ion-row>
            <ion-col>
              <h6>วันเริ่มต้น {{data?.ta_startdate}}</h6>
            </ion-col>
            <ion-col>
              <h6>วันสิ้นสุด {{data?.ta_startdate}}</h6>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <h6>{{data?.ta_type}}</h6>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-item>
  </div>

</ion-content>