page-map {
    .logo-facebook{
        color:#3B5998;
    }
    
    .logo-twitter{
        color:#55ACEE;
    }
    
    .logo-instagram{
        color:#6A453B;
    }
    
    agm-map{
        height: 200px;
            width: 100%;
    }
    #map{
        height: 100%;
    }
    

}
